.main {
    height: 100vh;
    background-color: #0D192C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 302px;
    height: 575px;
    background-color: #15263F;
    padding: 25px;
    border-radius: 15px;
}

.main .card .card-cover {
    background-image: url(./assets/images/image-equilibrium.jpg);
    width: 302px;
    height: 302px;
    background-repeat: no-repeat;
    background-size: contain;
}

.main .card .card-body :first-child {
    color: white;
    font-size: 22px;
    font-family: Outfit;
}

.main .card .card-body :first-child:hover {
    color: Cyan;
    cursor: pointer;
}

.main .card .card-body :last-child {
    color: #8BACD9;
    font-family: Outfitregular;
}

.main .card .card-info {
    display: flex;
    justify-content: space-between;
}

.main .card .card-info .etherium {
    font-family: Outfitregular;
    color: #00FFF8;
    background-image: url(./assets/images/icon-ethereum.svg);
    background-repeat: no-repeat;
    padding-left: 16px;
}

.main .card .card-info .clock {
    font-family: Outfitregular;
    color: #8BACD9;
    background-image: url(./assets/images/icon-clock.svg);
    background-repeat: no-repeat;
    padding-left: 20px;
}

.main .card .card-footer {
    border-top: solid #2E405A 1px;
    padding-top: 15px;
    color: white;
    font-family: Outfitl
}

.main .card .card-footer .about {
    display: flex;
    align-items: center;
    color: white;
}

.main .card .card-footer .about img {
    width: 33px;
    height: 33px;
    border: solid 1px white;
    border-radius: 100%;
    margin-right: 15px;
}

.main .card .card-footer .about :last-child {
    padding-left: 5px;
}

.main .card .card-footer .about :last-child:hover {
    color: Cyan;
    cursor: pointer;
}